YANDEX_RASP_API_KEY=<Ключ>
YANDEX_API_BASE=https://api.rasp.yandex-net.ru/v3.0
YANDEX_API_LANG=ru_RU
API_PORT=8787
YANDEX_DAILY_BUDGET=450
YANDEX_STATION_CACHE_MINUTES=360
CORS_ALLOW_ORIGIN=*
VITE_API_BASE_URL=http://127.0.0.1:8787

